<header>
  <h1>{{title}}</h1>
  <h2>Building a new Angular2 Component here every day.</h2>
</header>
<main>
  <aside>
    <h1>sidebar</h1>
  </aside>
  <section>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
    <app-day-1></app-day-1>
  </section>
</main>
