header {
    height: 15vh;
    overflow: hidden;
    text-align: center;
    background-color: #2196F3;
    margin: 0;
}
main {
    height: 85vh;
    width: 100%;
}
main > aside {
    width: 120px;
    height: 100%;
    float: left;
    text-align: center;
    background-color: #2196F3;
}
main > section {
    margin-left: 120px;
    height: 100%;
    overflow-y: scroll;
}